@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-quaternary;
}

body {
    background-color: $color-primary;
    color: $color-quaternary;
    font-family: $font-family-2;
    transition: all 0.5s;
}

ul,
li,
ol {
    list-style: none;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-quaternary;
}

div {
    display: block;
    position: relative;
    box-sizing: border-box;
}
